html{
    height: 100%;
}
body{
    background-color: #2f3035;
    background-image: url(./Images/Back.jpg);
    background-size: cover;
}
.container{
    margin: auto;
    width: 600px;
}
header{
    /* background-color: blue; */
    height: 118px;
    text-align: center;
}
header img{
    width: 100px;
    height: 118px;
}
nav{
    background-color: rgba(200,0,0,0.345);
    /* height: 40px; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: flex;
    justify-content: space-evenly; */
}
nav a{
    /* display: block; */

    text-decoration: none;
    color: white;
    padding-left: 20px;
    /* padding-top: 200px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    /* background-color: #2f3035; */
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}
main h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
main p{
    /* text-align: center; */
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
main a{
    width: 50px;
    background-color: #FFFFFF;
    text-decoration: none;
}
footer{
    background-color: rgba(200,0,0,0.645);
    height: 100px;
    text-align: center;
}
footer a{
    color: aliceblue;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
footer p{
    color: aliceblue;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}